.mfp-figure {
	overflow: hidden;
	border-radius: 6px;
}

.mfp-img {
	padding: 0;
}

.mfp-arrow {
	@extend %icomoon;
	@extend %anim;
	display: block;
	width: 75px; 
	height: 75px;
	border: 1px solid rgba(white, .3);
	border-radius: 50%;
	margin-top: -37px;
	opacity: 1;
	font-size: em(34);
	text-align: center;
	color: white;
	cursor: pointer;
	
	

	&:after {
		display: none;
	}
	
	&:before {
		top: auto;
		line-height: 75px;
		margin: 0;
		border: none;
		
		width: 75px;
		height: 75px;
		left: 0;
		
		content: "\e904";
	}
	
	&.mfp-arrow-left {
		left: 2%;
		
		&:before {
			left: -2px;
			transform: scaleX(-1);
		}
	}
	
	&.mfp-arrow-right {
		right: 2%;
		
		&:before {
			left: 2px;
		}
	}
	
	&:hover {
		border: 1px solid rgba(white, .6);
	}
	
	&:active {
		margin-top: -37px;
		
		&:before {
			color: $c-green--darker;
		}
	}
}


.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}