.o-article {
	@extend %margin-60;
	padding-top: 40px;
	
	@media screen and ( min-width: $tablet + 1px ) {
		padding-top: 80px;
	}
	
	&:not(.o-article--full) {

		@media screen and ( min-width: $tablet + 1px ) and ( max-width: 1400px ) {
			float: left;
			width: grid(580, 1400);
		}
	}
	
	&:not(.o-article--nofluid) {
		
		@media screen and ( min-width: $tablet + 1px ) and ( max-width: 1400px ) {
			width: grid(580); 
			padding-left: 75px;
		}
	}
	
	h2 {
		margin-bottom: .6em;
		line-height: 1.2;
		font: {
			size: em(50);
			weight: $hairline;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: 1220px ) {
			font-size: get-vw-1220(50);
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			font-size: em(30);
		}
	}	

	h5 {
		margin-bottom: 1em;
	}
	
	h6 {
		margin-bottom: 1em;
		font-weight: $regular;
	}
	
	article {
		h5 {
			
			text-transform: uppercase;
			font-weight: $bold;
			color: $c-green--darker;			
			
			@media screen and ( min-width: $tablet_portrait + px ) {
				letter-spacing: 1px;
			}
		}
		
		> ul li,
		> p {			
			line-height: 1.6;
			font: {
				size: em(18);
				weight: $light;
			}
			
			@media screen and ( max-width: $smartphone + px ) {
				font-size: em(14);
			}
		}
		
		> p {
			margin-bottom: 2em;
			color: $c-gray--brighter;			
		}

		> ul {
			margin-bottom: 30px;

			li {
				@extend %rel;
				padding-left: 15px;

				&:before {
					@extend %abs-after;
					left: 0; top: 12px;
					width: 5px; height: 5px;
					background-color: $c-green--darker;
					border-radius: 50%;
				}
			}
		}
	}

	&--full {
		width: 100% !important;
		padding-left: 75px;
		
		@media screen and ( max-width: $smartphone + px ) {
			padding-left: 0;
		}
		
		> h2 {
			@media screen and ( min-width: $tablet + 1px ) {
				width: grid(580);
			}
		}

		> article {
			@media screen and ( min-width: $tablet + 1px ) {
				float: left;
				width: grid(580);
			}
		}
		
		.o-article {
			padding-top: 0;

			@media screen and ( min-width: $tablet + 1px ) {
				float: left;
				margin-top: -5px;
			}
		}
	}
}
