.o-btn {
	@extend %antialias;
	@extend %rel;
	@extend %anim;
	display: inline-flex;
    align-items: center;
	height: 40px;
	border-radius: 40px;
	line-height: .9;
	white-space: nowrap;
	border: 1px solid transparent;
	padding: 0 50px;
	font-weight: $bold;
	
	&--big {
		height: 50px;
	}
	
	&--block {
		display: flex;
		padding: 0;
		justify-content: center;
	}
	
	&--small {
		padding: 0 24px;
		height: 35px;
		font-size: em(13);
	}
	
	&--green-fill {
		&:after {
			background-image: linear-gradient(to right, $c-green 0%, $c-green--darker 100%);
		}		
	}
	
	&--green-fill-whitehover {
		&:after {
			background-color: white;
		}
		
		&:hover {
			//border-color: white;
			color: $c-green--darker;
		}
	}

	&--green-fill,
	&--green-fill-whitehover {
		background-image: linear-gradient(to right, $c-green--darker 0%, $c-green 100%);
		color: white;	
		
		&:after {
			@extend %abs-after;
			@extend %anim;
			z-index: -1;
			left: -1px; top: -1px;
			width: calc(100% + 2px); height: calc(100% + 2px);
			border-radius: 40px;
			opacity: 0;
		}	
		
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	
	

	&--green-empty {
		border-color: $c-green;
		color: $c-green--darker;
		
		&:hover {
			background-color: $c-green !important;
			color: white;
			
			i {
				&:before {
					color: white !important;
				}
			}
		}
	}	
	
	&--gray-fill {
		background-color: $c-gray--brightest;
		border-color: $c-gray--brightest;
		color: white;
		
		&:hover {
			background-color: $c-green--darker;
			color: white !important;
			
			i {
				&:before {
					color: white !important;
				}
			}
		}
	}
	
	&--gray-empty {
		border-color: $c-gray--brightest;
		color: $c-gray;
		
		&:hover {
			background-color: $c-green--darker;
			color: white !important;
			
			i {
				&:before {
					color: white !important;
				}
			}
		}
	}
	
	&--long {
		padding: 0 60px !important;
	}
		
	&--white-empty {
		border-color: white;
		color: white;
		
		&:hover {
			background-color: $c-green !important;
			border-color: $c-green;
			color: white;
		}
	}
	
	&--white-fill {
		background-color: white;
		color: $c-green--darker;

		&:hover {
			background-color: $c-green !important;
			border-color: $c-green;
			color: white;
		}
	}
}