.o-container {
	@extend %clear;
	overflow: hidden;
	
	&--negative-margin {
		
		@media screen and ( min-width: 1221px ) {
			margin-top: -375px;
			padding-top: 375px;
		}
		
		@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: 1220px ) {
			margin-top: get-vw-1220(-375);
			padding-top: get-vw-1220(375);
		}
	}
}