.icon-checkmark:before {
  content: "\e920";
}
.icon-play:before {
  content: "\e91f";
}
.icon-add-clipboard:before {
  content: "\e900";
}
.icon-air-conditioning:before {
  content: "\e901";
}
.icon-animal-friendly:before {
  content: "\e902";
}
.icon-arrow-1:before {
  content: "\e903";
}
.icon-arrow-2:before {
  content: "\e904";
}
.icon-balcony:before {
  content: "\e905";
}
.icon-basement:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e907";
}
.icon-elevator:before {
  content: "\e908";
}
.icon-exclusive:before {
  content: "\e909";
}
.icon-fb:before {
  content: "\e90a";
}
.icon-financial-consulting:before {
  content: "\e90b";
}
.icon-garden:before {
  content: "\e90c";
}
.icon-interior-design:before {
  content: "\e90d";
}
.icon-leased:before {
  content: "\e90e";
}
.icon-pin .path1:before {
  content: "\e90f";
  color: rgb(0, 0, 0);
}
.icon-pin .path2:before {
  content: "\e910";
  margin-left: -0.796875em;
  color: rgb(255, 255, 255);
}
.icon-print:before {
  content: "\e911";
}
.icon-rent-property:before {
  content: "\e912";
}
.icon-save:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-security:before {
  content: "\e915";
}
.icon-sell:before {
  content: "\e916";
}
.icon-sold:before {
  content: "\e918";
}
.icon-sticker:before {
  content: "\e919";
}
.icon-without-commission:before {
  content: "\e91a";
}
.icon-wyslij:before {
  content: "\e91b";
}
.icon-your-property:before {
  content: "\e91c";
}
.icon-zoom-in:before {
  content: "\e91d";
}
.icon-zoom-out:before {
  content: "\e91e";
}
