.c-404 {
	@extend %abs;
	@extend %flex;
	@extend %flex-xy;
	left: 0; top: 0;
	flex-direction: column;
	width: 100%; height: 100%;
	background: {
		repeat: no-repeat;
		size: cover;
		position: center;
	}
	padding: 0 20px;
	text-align: center;
	color: white;

	@media screen and ( min-width: $tablet + 1 + px ) {
		background-image: url(../img/bg/melissa@2x.jpg);
	}
	
	@media screen and ( max-width: $tablet + px ) {
		background-image: url(../img/bg/melissa.jpg);
	}
	

	h1 {
		line-height: 1;
		margin-bottom: 10px;
		font: {
			size: em(180);
			weight: $bold;
		}
		
		@media screen and ( max-width: $tablet + px ) {
			font-size: em(100);
		}
	}
	
	p {
		margin-bottom: 35px;
		font: {
			size: em(20);
			weight: $light;
		}
		
		@media screen and ( max-width: $tablet + px ) {
			font: {
				size: em(18);
				weight: $regular;
			}
		}
	}
	
	.o-btn {
		height: 50px;	
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			width: 100%;
		}	
	}
}