.c-accordion {
	margin-bottom: 80px;

	&__content {
		display: none;
		
		&.is-active {
			display: block;
		}
	}

	&__nav {
		@extend %flex;
		@extend %rel;
		align-items: center;
		height: 80px;
		border: 1px solid $c-green--darker;
		border-radius: 40px;
		margin-bottom: 20px;
		padding-left: 75px;
		color: $c-green--darker;
		
		i {
			background-color: transparent;
			font-size: em(26);
			
			&:before {
				color: $c-green--darker;
			}
		}
		
		&:hover {
			background-color: $c-green--darker;
			color: white;
			
			i {			
				&:before {
					color: white;
				}
			}
		}
		
		.icon-arrow-3 {
			@extend %abs;
			right: 50px;
			border-radius: 0;
			//transform: rotate(90deg) translateY(-50%);
			
			font-size: em(18);
		
			&:before {
				width: 100%;
				transform: rotate(90deg) translateY(-50%);
				color: $c-green--darker;
			}
		}
		
		&.is-active {
			background-color: $c-green--darker;
			margin: 0;
			color: white;

			.icon-arrow-3 {
				//transform: rotate(270deg) translateY(-50%);
				
				transform: rotate(-180deg) translateY(0);
			}
			
			i {
				&:before {
					color: white;
				}
			}
		}
				
		span {
			@extend %antialias;
			padding-left: 20px;
			font: {
				size: em(20);
				weight: $bold;
			}
		}
	}
}