.c-bathrooms {
	@extend %rel;
	top: 4px;
	
	@media screen and ( max-width: $smartphone + px ) {
		height: 50px;
	}	

	a {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: $c-gray--brightest;
		border-radius: 50%;
		margin-right: 2px;
		text-align: center;
		line-height: 20px;
		font-size: em(10);
		color: white;
		
		&:hover {
			background-color: $c-green--darker;
		}
	}
}