.c-boxes {
	@extend %margin-60;

	&:not(.c-boxes--noborder) {
		.c-grid {
			padding-bottom: 20px;
			border-bottom: 1px solid $c-gray--brightest;
			
			@media screen and ( max-width: $smartphone + px ) {
				border: none;
			}
			
		}
	}
	
	&:last-of-type {
		margin-bottom: 80px;
	}
}