.c-contact-form {
	width: 580px;
	margin: 0 auto 40px auto;
	
	@media screen and ( max-width: $smartphone + px ) {
		width: 100%;
	}
	
	
	input[type=checkbox] {
		& + label {
			i {
				@extend %rel;
				top: 2px;
			}

			span {
				//width: grid(460, 520);
				color: $c-gray--brighter;
				
				@media screen and ( max-width: $smartphone_portrait + px ) {
					//width: grid(400, 520);
				}
			}
		}
	}	
	
	input[type=text], input[type=email], input[type=tel], textarea {
		margin-bottom: 10px;
		color: $c-gray--brighter;
	}
	
	input[type=text], input[type=email], input[type=tel] {
		height: 45px;
		padding: 0 40px;
	}
	
	textarea {
		height: 145px;
		padding: 20px 40px;
	}
	
	&__row {
		@extend %rel;
		margin-bottom: 10px;
	}
	
	.o-form__captcha {
		height: 60px;
		border-radius: 30px;		
		
		@media screen and ( max-width: $smartphone + px ) {
			margin-bottom: 10px;
		}
	}
	
	.o-form__captcha,
	.o-form__code {
		@media screen and ( min-width: $smartphone + 1px ) {
			width: 280px;
		}
	}
	
	.o-form__code {
		height: 45px;		
	}
	
	.o-form__row--submit {
		.o-btn {
			
			@media screen and ( max-width: $smartphone + px ) {
			
				//display: flex;
				display: block;
				width: 100%;
				padding: 0;
				align-items: center;
			
				span {
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
	
	@include input-placeholder {	
		color: $c-gray--brighter;
	}
	
}