.c-contact-us {
	text-align: center;

	.o-btn {
		color: white;	

		i {
			@extend %arrow-down;
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			display: flex;
		    justify-content: center;
	    }
	}
}