.c-contact-box {

	@media screen and ( max-width: $smartphone + px ) {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}
	

	h4 {
		margin-bottom: .8em;
		line-height: 1.2;
		font: {
			size: em(20);
			weight: $bold;
		}
	}
	
	h5 {
		margin-bottom: 1em;
		color: $c-gray;
	}
	
	p {
		margin-bottom: 20px;
	}
	
	&__phone {
		i {
			font-size: em(24);
			color: $c-green--darker;
			vertical-align: middle;
		}
		
		span {
			padding-left: 10px;
			color: $c-gray;
		}
	}
	
	&__photo {
		@extend %border-radius;
		float: left;
		width: 130px;
		
		
		.c-grid & {
			width: grid(130, 380);
		}
	}
	
	
	
	&__text {
		float: right;
		width: 230px;
		
		.c-grid & {
			width: grid(230, 380);
		}
		
		.c-agents & {
			padding-right: 30px;
		}
	}
}
