.c-disclaimer {
	padding-bottom: 30px;
	text-align: center;
	line-height: 1.1;
	font: {
		size: em(10);
		weight: $light;
	}
	color: $c-gray--darkest;
	
	@media screen and ( min-width: $smartphone + 1px ) {
		padding: {
			left: grid(170);
			right: grid(170);
		}
	}
}