.c-fav {
	@extend %abs;
	right: 140px;
	top: 10px;
	
	@media screen and ( max-width: $tablet + px ) {
		top: 50%;
		transform: translateY(calc(-50% + 20px));
	}
	
	i {
		margin-right: 10px;
		font-size: em(28);
		
		&:before {
			color: $c-green--darker;
		}
	}
	
	small {
		margin-left: 5px;
		font-size: em(10, 13);
		color: $c-green;
	}
	
	.o-btn {
		padding: 0 20px;

		@media screen and ( max-width: $tablet + px ) {
			border: none;
			border-radius: 0;
			padding: 0;

			small, span {
				display: none;
			}
			
			i {
				margin: 0;
				font-size: em(26);
			}
			
			&:hover {
				background-color: transparent;
				
				i {
					&:before {
						color: $c-green--darker !important;
					}
				}
			}
		}
	}
}