.c-load-more {
	text-align: center;
	
	.o-btn {
		@media screen and ( min-width: $smartphone + 1px ) {
			padding: 0 140px;
		}
		
		
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
				display: flex;
				width: 100%;
		}
		
	}
}