.c-menu {

	@media screen and ( max-width: $tablet + px ) {
		@extend %anim-slow;
		position: fixed;
		z-index: 10;
		left: 0; bottom: 100%;
		opacity: 0;
		width: 100%; height: 100%;
		background-color: $c-green--brighter;
		padding: 110px 0 50px 0;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		
		.mobile-menu & {
			bottom: 0;
			opacity: 1;
		}
	}
	
	> ul {
		
		@media screen and ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
			z-index: 10;
			left: grid(180);
		}
		
		@media screen and ( min-width: $tablet + 1px ) {
			position: absolute;
			left: 180px; bottom: 25px;
			width: grid(670);
			display: flex;
			justify-content: space-between;
		}
		
		@media screen and ( max-width: $tablet + px ) {
			margin-bottom: 70px;
		}
		
		li {
		
			&:first-child {
				padding-left: 0;
			}
			
			&:last-child {
				padding-right: 0;
			}
			
			@media screen and ( max-width: $tablet + px ) {
				text-align: center;
			}
			
			a {
				@extend %rel;
				font-weight: $bold;
				
				&:hover {
					@media screen and ( min-width: $tablet + 1px ) {
						color: $c-green--darker;
					}
				}
				
				@media screen and ( max-width: $tablet + px ) {
					@extend %antialias;
					display: block;
					padding: 10px 0;
					font-size: em(20);
					color: white;
				}
			}
		}
	}

	
}