.c-metaselects {
	@extend %abs;
	@extend %clear;
	z-index: 10;
	right: 20px;
	top: 20px;
	width: 120px;
	
	@media screen and ( max-width: $tablet + px ) {
		display: none;
		left: 10px;
		right: auto;
		
		.mobile-menu & {
			display: block;
		}
	}
	
	
	&__item {
		@extend %rel;
		float: left;
		width: 60px;
	}
}