.c-mobile-nav-btn {
	@extend %abs;
	@extend %anim;
	z-index: 15;
	right: 10px;
	top: 50%;
	transform: translateY(calc(-50% + 20px));
	padding: 10px;
	font-size: em(23);
	cursor: pointer;
	
	@media screen and ( min-width: $tablet + 1px ) {
		display: none;
	}
	
	.mobile-menu & {
		top: 20px;
		font-size: em(26);
		color: white;
		
		&:before {
			content: "\e917";
		}
	}
}