.c-offer-details {
	float: left;
	width: 730px;
	
	&__numbers {
		@extend %flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 35px;

		li {
			width: 100%;
			border-right: 1px solid $c-gray--brightest;
			padding: 0 20px;
			font-weight: $bold;
			text-align: center;

			p {
				margin-bottom: 20px;
				color: $c-gray;
			}
			
			h5 {
				font-size: em(20);
			}
			
			&:last-child {
				border: none;
			}
		}
	}
}


