.c-offer-cta {
	margin-bottom: 30px;
	text-align: center;
	
	@media screen and ( max-width: $smartphone + px ) {
	    display: flex;
	}
	
	
	&__item {
		display: inline-block;
		width: 75px;

		i {
			display: inline-block;
			width: 55px;
			height: 55px;
			background-color: $c-white--darker;
			border-radius: 50%;
			margin-bottom: 10px;
			line-height: 55px;
			font-size: em(24);
			color: $c-green--darker;
			
			&.icon-checkmark {
    			font-size: em(18);
			}
		}
		
		span {
			display: block;
			font-size: em(11);
			color: $c-gray--brighter;
		}
		
		
		@at-root {
            a#{&} {

            	&:hover {
        			
        			i {
        				
        				background-color: $c-green--darker;
        				box-shadow: rgba(black, .2) 0 0 10px;
        				color: white;
        			}
        			
        			span {
        				color: $c-green--darker;;
        			}
        			
        		}
                
                
                
            }
        }
	}
	
	a {
	    
	}
}
