.c-offer-details {
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
		float: left;
		width: grid(730);
	}
	
	&__numbers {
		@extend %flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 35px;
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			display: none;
		}

		li {
			width: 100%;
			border-right: 1px solid $c-gray--brightest;
			padding: 0 20px;
			font-weight: $bold;
			text-align: center;

			p {
				margin-bottom: 20px;
				color: $c-gray;
			}
			
			h5 {
				font-size: em(20);
			}
			
			&:last-child {
				border: none;
			}
		}
	}
}


