.c-see-all {
	color: $c-gray;
	
	&--bottom {
		display: block;
		text-align: center;
	
		@media screen and ( min-width: $smartphone + 1px ) {
			display: none;
		}
	}
	
	&--top {
		@media screen and ( max-width: $smartphone + px ) {
			display: none;
		}
	}
	
	strong {
		font-size: em(13);
	}
	
	i {
		display: inline-block;
		margin-left: 5px;
		font-size: em(8);
		color: $c-green--darker;
		
		&:before {
			@extend %rel;
			display: block;
			top: -1px;
			transform: rotate(270deg);
		}
	}
	
	&:hover {
		color: $c-green--darker;
	}
}