.c-shortcuts {
	@extend %anim-slow;
	position: fixed;
	left: 0; top: -100%;
	z-index: 20;
	width: 100%; height: 100%;
	background-color: white;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;

	&__cols {
		@extend %clear;
		margin-bottom: 30px;
		
		aside {
			float: left;
			width: grid(295);
		}
		
		&:last-of-type {
			border: none;
		}
		
		&--border {
			border-bottom: 1px solid $c-gray--brightest;
		}
	}
	
	&__hide {
		@extend %flex;
		@extend %flex-xy;
		height: 56px;
		background-color: $c-green--darker;
		color: white;
		
		i {
			@extend %arrow-down;
			transform: scaleY(-1);
			color: white;
			
			&:before {
				display: block;
			}
		}
		
		span {
			font: {
				size: em(13);
				weight: $bold;
			}
		}
		
		&:hover {
			background-color: darken($c-green--darker, 5%);
		}
	}
	
	&__items {
		margin-bottom: 30px;
		font-size: em(13);
		color: $c-gray;
		
		a {
			display: inline-block;
			padding: 2px 0;
			
			&:hover {
				color: $c-green--darker;
			}
		}		
	}
	
	.o-wrap {
		@extend %anim-slow;
		height: auto;
		padding-top: 90px;
	}

	&.is-visible {
		top: 0;
	}
}