.c-shortcuts-btn {
	
	.o-btn {
		background-color: white;
		font-size: em(13);			

		i {
			@extend %anim;
			@extend %arrow-down;
			
			&:before {
				display: block;
			}
		}
	}
	
	&--adv {
		margin-bottom: 40px;
		text-align: center;
	}
	
	&--trigger {
		@extend %abs;
		@extend %anim;
		z-index: 25;
		
		@media screen and ( min-width: $tablet + 1px ) {
			left: 50%;
			top: 10px;
			transform: translateX(-50%);
		}
		
		@media screen and ( max-width: $tablet + px ) {
			left: 0; top: 0;
			width: 100%;
			
			.mobile-menu & {
				top: -40px;
			}
		}
		
		.o-btn {
			@media screen and ( max-width: $tablet + px ) {
				display: flex;
				justify-content: center;
				background-color: $c-green--darker;			
				border: none;
				border-radius: 0;
				text-align: center;
				color: white;
			}
		}
	}
	
	&.is-fixed {
		.o-btn {
			i {
				transform: scaleY(-1);
			}
		}
	}
}