.c-switcher {
	@extend %abs;
	top: 50%;

	&--center {
		left: calc(50% - 120px);
		top: calc(50% - 30px);
	}
	
	&--right {
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			top: calc(50% - 30px);
			right: 0;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			@extend %clear;
			position: relative;
			top: auto;
			margin-bottom: 20px;
		}
		
	}
	
	&.big {
		.o-btn {
			height: 45px;
		}
	}

	.o-btn {
		float: left;
		
		font-size: em(13);
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			width: 50%;
			justify-content: center;
		}
		
		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-color: $c-green--darker;
		}
		
		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 0;
		}
		
		&.rent {
			.type-rent & {
				background-color: $c-green--darker;
				color: white;
			}
		}
		
		&.sale {
			.type-sale & {
				background-color: $c-green--darker;
				color: white;
			}
		}
		
		&.is-active {
			background-color: $c-green--darker;
			color: white;
		}				
	}
}