.c-top {
	@extend %rel;
	@extend %anim-slow;
	z-index: 15;
	width: 100%;
	background-color: rgba(white, .95);
	height: 120px;
	border-bottom: 1px solid $c-gray--brightest;
	
	.mobile-menu & {
		position: static;
	}
	
	.o-wrap {
		z-index: 30;
	}
	
	.mobile-menu & {
		height: 100vh;
	}
	
	&.stay {
		.mobile & {
			position: fixed;
			top: -40px;
			left: 0; 
		}
	}
}