// Fonts

$text:			'Lato', sans-serif;


// Font weights

$hairline:			100;
$light:				300;
$regular:			400;
$bold:				700;


// Default

$base-font-size:	15;
$base:				1180;


// Width

$grid_item:			380;


$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			568;
$smartphone_portrait:	375;